#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BOOT &bootloader
#define BTSL &bt BT_SEL
#define BTCL &bt BT_CLR
#define BTCA &bt BT_CLR_ALL

&sk {
    quick-release;
};

/ {
    macros {
        qu: qu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp Q &kp U>;
        };
    };

    behaviors {
        dc: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        cs: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        zero { 
            display-name = "alphas";

            bindings = <
                &kp ESC    &kp B      &kp F      &kp L      &kp K      &qu          &kp P      &kp G      &kp O      &kp U      &dc        &kp RET
                &kp TAB    &kp N      &kp S      &kp H      &kp T      &kp M        &kp Y      &kp C      &kp A      &kp E      &kp I      &kp DEL
                           &kp X      &kp V      &kp J      &kp D      &kp Z        &kp SQT    &kp W      &kp MINUS  &kp FSLH   &cs
                                                 &sl 1      &kp R      &kp BSLH     &kp BSPC   &kp SPACE  &sl 2
            >;
        };

        one {
            display-name = "numbers";

            bindings = <
                &none      &none      &none      &kp STAR   &kp PLUS   &none        &none      &kp N7     &kp N8     &kp N9     &trans     &trans
                &none      &sk LALT   &sk LGUI   &sk LSHFT  &sk LCTRL  &kp EQUAL    &none      &kp N4     &kp N5     &kp N6     &kp N0     &none
                           &none      &none      &kp FSLH   &kp MINUS  &none        &none      &kp N1     &kp N2     &kp N3     &trans
                                                 &none      &none      &none        &trans     &trans     &sl 3
            >;
        };

        two {
            display-name = "navigation";

            bindings = <
                &none      &none      &none      &none      &none      &none        &none      &none      &none      &none      &none      &none
                &none      &none      &kp LEFT   &kp UP     &kp RIGHT  &none        &none      &sk RCTRL  &sk RSHFT  &sk RGUI   &sk RALT   &none
                           &none      &none      &kp DOWN   &none      &none        &none      &none      &none      &none      &none
                                                 &sl 3      &none      &none        &trans     &trans     &none
            >;
        };

        three {
            display-name = "f-keys";

            bindings = <
                &none      &none      &none      &none      &none      &none        &none      &kp F7     &kp F8     &kp F9     &kp F12    &none
                &none      &sk LALT   &sk LGUI   &sk LSHFT  &sk LCTRL  BOOT         BOOT       &kp F4     &kp F5     &kp F6     &kp F11    &none
                           BTCL       BTSL 1     BTSL 2     BTSL 3     BTCA         &none      &kp F1     &kp F2     &kp F3     &kp F10
                                                 &none      &none      &none        &none      &none      &none
            >;
        };

        four {
            display-name = "gaming";

            bindings = <
                &kp ESC    &kp T      &kp Q      &kp X      &kp E      &kp R        &kp Y      &kp U      &kp I      &kp O      &kp P      &kp RET
                &kp TAB    &kp LSHFT  &kp A      &kp W      &kp D      &kp F        &kp H      &kp J      &kp K      &kp L      &kp SEMI   &tog 4
                           &kp LCTRL  &kp Z      &kp S      &kp C      &kp V        &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
                                                 &kp LALT   &kp SPACE  &kp B        &none      &none      &none
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_gaming_layer  {
            timeout-ms = <50>;
            key-positions = <38 39>;
            bindings = <&tog 4>;
            layers = <0>;
        };

        combo_caps_lock  {
            timeout-ms = <75>;
            key-positions = <15 20>;
            bindings = <&kp CAPS>;
            layers = <0>;
        };

        combo_caps_word  {
            timeout-ms = <75>;
            key-positions = <16 19>;
            bindings = <&caps_word>;
            layers = <0>;
        };

        combo_lpar  {
            timeout-ms = <50>;
            key-positions = <4 16>;
            bindings = <&kp LPAR>;
            layers = <0 1>;
        };

        combo_rpar  {
            timeout-ms = <50>;
            key-positions = <7 19>;
            bindings = <&kp RPAR>;
            layers = <0 1>;
        };

        combo_lbrc  {
            timeout-ms = <50>;
            key-positions = <3 15>;
            bindings = <&kp LBRC>;
            layers = <0 1>;
        };

        combo_rbrc  {
            timeout-ms = <50>;
            key-positions = <8 20>;
            bindings = <&kp RBRC>;
            layers = <0 1>;
        };

        combo_lbkt  {
            timeout-ms = <50>;
            key-positions = <2 14>;
            bindings = <&kp LBKT>;
            layers = <0 1>;
        };

        combo_rbkt {
            timeout-ms = <50>;
            key-positions = <9 21>;
            bindings = <&kp RBKT>;
            layers = <0 1>;
        };

        combo_lt  {
            timeout-ms = <50>;
            key-positions = <5 17>;
            bindings = <&kp LT>;
            layers = <0 1>;
        };

        combo_gt {
            timeout-ms = <50>;
            key-positions = <6 18>;
            bindings = <&kp GT>;
            layers = <0 1>;
        };
    };
};
